
@model IQMania.Models.Account.Signup

@{
    ViewData["Title"] = "ForgotPassword";
}


<div class="modal" tabindex="1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class=" modal-content">
            <div class="modal-header">
                @*<button type="button" class=" btn-close" data-dismiss="modal">
                    &times;
                </button>*@
                <h4 class="modal-title">Recover your password here</h4>
            </div>
            <div class=" modal-body">
        <form asp-action="ForgotPassword" style="height:80%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                    <br />
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
                    <br />
            <div class="form-group">
                <label class="control-label">New Password:</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                    <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
                    <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
            </div>
    </div>
    @if(@ViewBag.code ==200){
        <h3 class="text-success">@ViewBag.message</h3>
    }
    else
    {
        <h3 class="text-danger">@ViewBag.message</h3>
    }
    
</div>

</div>
@section Scripts{
    <script type="text/javascript">
    $(function(){
            var cont = $("#loginModal");
            cont.dialog();
    });    
    </script>
}

