@using IQMania.Models.Quiz;
@model SearchResult;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var lst = Model;

}
<body style="font-family: Arial">
    <form id="form1" runat="server">
        <div style="width: 100%; border: 1px solid black; padding: 5px">
            <table id="quizdiv">
                <thead>
                    <tr>
                        <th>
                            S.N
                        </th>
                        <th>
                            Questions
                        </th>
                        <th>
                            Answer
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.QuestionList)
                    {
                        <tr>
                            <td>@item.QID</td>
                            <td>@item.Question</td>
                            <td>@item.Answer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                debugger;
                $('#quizdiv').dataTable();
            });
        </script>
    }
</body>