@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class=" row">
        <div class="offset-md-2 col-md-8 offset-md-2 offset-md-2 col-sm-12">
            <div class=" container border border-success" style="border-style:dashed">
                <img class="img-thumbnail" src="~/photos/yahoooooooo.jpg" />
            </div>
        </div>
    </div>
    <div class="row btn-toolbar" style="margin:3px">
        <div class="btn-group-vertical btn-group-lg" style="padding:5px">
            <a href="@Url.Action("ViewResult", "Completion")" class="btn btn-warning" style="margin:3px; padding:3px">View Result</a>
            <a href="@Url.Action("PlayQuiz", "Quiz")" class="btn btn-info" style="margin:3px; padding:3px">Play Again</a>
        </div>
    </div>

</div>